body {
	font-family: Arial;
}

.flex-container {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}

.item{
	align-self: center;
	color: darkgreen;
	text-align: left;
}




.centered {
	text-align: center;

}
#row-names {
	color: blue;
}

#first-row {
	background-color:lightskyblue;
}
