body {
	font-family: Arial;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 0;
	margin: 0;
	list-style: none;
}

.centered {
	text-align: center;

}
#row-names {
	color: blue;
}

#first-row {
	background-color:lightskyblue;
}
