/*body related styling*/
body {
	font-family: Arial;
}

.centered {
	text-align: center;
}

/*table related styling*/
.table {
	width: 100%;
	margin-left:10px;
	margin-right:80px;
	border: 1px solid;
}

#row-names {
	color: blue;
}

#first-row {
	background-color:lightskyblue;
}


/*styling for flex container and items/images */
.flex-container {
	margin: 15px;
  	display: flex;
  	justify-content: space-between;
}

.item{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
  align-self: center;
	
}

img{
	object-fit: cover;
	width: 100%;
}

/*styling for text below images in flexbox*/
.subtext{
	color: darkgreen;
	text-align: left;
}


/*styling for shapes and changes when the mouse hovers*/
.cir {
	opacity: 50%;
	fill: darkred;
	margin: 0 auto;
	position: relative;
}

.rec {
	fill: seagreen;
	stroke: black;
	stroke-width: 10;
	margin: 0 auto;
  	postion: relative;

}

circle:hover {
	stroke: black;
	stroke-width: 5;
}

rect:hover {
	fill: black;
}
svg{
  width: 100%;
}

/*spaces div content evenly*/
div{
	justify-content: space-evenly;
}





